@import "tailwindcss";

@font-face {
  font-family: "National Park";
  src: url("./assets/fonts/NationalPark-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-sans: "National Park", sans-serif;
}

html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; /* We'll handle scrolling in the app list */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-weight: 800;
  text-transform: lowercase;
}
